@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;1,9..40,300&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* cores */
  --bg: #f9e5e6;
  --bg-2: #f0d5d6;
  --surface: #fdeeed;
  --border: rgba(35,31,32,0.08);   /* preto do CIn em 8% */
  --border-hi: rgba(35,31,32,0.18);   /* preto do CIn em 18% */
  --text: #231F20; /* preto do CIn */
  --text-mid: #5a5758;
  --text-dim: #9a9596;
  --cin: #DB1E2F;  /* vermelho do CIn */
  --cin-dim: rgba(219,30,47,0.10); /* vermelho do CIn em 10%*/

  /* fontes */
  --font-display: 'Libre Baskerville', serif;
  --font-body:    'DM Sans', sans-serif;
}

body {
  background: var(--bg);
  font-family: var(--font-body);
  color: var(--text);
}